out/**
build/
.idea
.idea/workspace.xml
.idea/uiDesigner.xml
gauge_bin/
logs
reports*/
target
gauge-tests.iml
.vagrant
.gauge/
docs/
.DS_Store
.classpath
.project
.settings
resources/LocalTemplates/**/.bundle
resources/LocalTemplates/**/logs
resources/LocalTemplates/**/vendor
resources/LocalTemplates/**/Gemfile.lock
.buildlock
testLogs
resources/LocalTemplates/java
resources/LocalTemplates/python
resources/LocalTemplates/js
bin/
src/**/*.class
.gradle
.classpath
.project