out/**
build/
.idea
.idea/workspace.xml
.idea/uiDesigner.xml
gauge_bin/
logs/
testLogs/
reports*/
gauge-tests.iml
.gauge/
docs/
.DS_Store
.classpath
.project
.settings
resources/LocalTemplates/ruby/vendor
resources/LocalTemplates/ruby/Gemfile.lock
resources/LocalTemplates/ruby/.buildlock
resources/LocalTemplates/java
resources/LocalTemplates/python
resources/LocalTemplates/js
bin/
src/**/*.class
.gradle
.classpath
.project